<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Basic</title>
</head>
<body>
<h2>Please Search:</h2>
<form action="/search_basic" method="post">
    <p><input name="src_name" placeholder="Source Station" value="{{ src_name }}"></p>
    <p><input name="des_name" placeholder="Destination Station" value="{{ des_name }}"></p>
    <p><input name="time" type="datetime-local" value="{{ time }}"/></p>
    <p>
        <button type="submit">Search</button>
    </p>
</form>
{% if message %}
<p>{{message}}</p>
{% endif %}
{% if outcomes %}
<table border="1">
    <tr>
        <th>Actions</th>
        <th>From</th>
        <th>Arrive</th>
        <th>From Time</th>
        <th>Arrive Time</th>
        <th>Duration</th>
    </tr>

    {% for outcome in outcomes %}
    <tr>
        <td>{{ outcome.action }}</td>
        <td>{{ outcome.src_station }}</td>
        <td>{{ outcome.des_station }}</td>
        <td>{{ outcome.src_time }}</td>
        <td>{{ outcome.des_time }}</td>
        <td>{{ outcome.duration }}</td>
    </tr>
    {% endfor %}

</table>
{% endif %}
</body>
</html>